*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  line-height: 1.22;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 14px;
}

a {
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
a:hover {
  color: #4bda5c;
}

button {
  background: none;
  border: none;
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.header {
  padding: 18px 24px;
  color: #fff;
  background-color: #07110c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.logo__img {
  margin-left: -15px;
  width: 93px;
  height: 28px;
}

.menu__list {
  list-style: none;
  display: flex;
}
.menu__link {
  padding: 12px 50px;
}

.btn {
  padding: 11px 20px;
  line-height: 1.22;
  color: #fff;
  font-weight: 600;
  background-color: #1d1d1d;
  border: 2px solid #0aef4a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/*HERO*/
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 85px 30px;
  background-image: url("assets/images/hero-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero::after {
  max-height: 378px;
  height: 100%;
  content: "";
  background-image: url("assets/images/hero-svg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -147px;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero__container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__top {
  margin-bottom: 24px;
  padding: 15px 36px 15px 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  border: 1px solid #0aef4a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: #fff;
}
.hero__top svg {
  margin-right: 10px;
}
.hero__title {
  margin-bottom: 35px;
  line-height: 70px;
  font-size: 60px;
  color: #fff;
  text-align: center;
}
.hero__list {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
}
.hero__item {
  margin-right: 36px;
  display: flex;
  align-items: center;
}
.hero__item span {
  display: inline-block;
  color: #4bda5c;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.1;
  border-bottom: 2px solid #4bda5c;
}

.hero__item:last-of-type {
  margin-right: 0;
}
.hero__item svg {
  margin-left: 12px;
}

/* ORDERS */
.orders {
  position: relative;
  z-index: 1;
  background: #fff;
}
.orders__top {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.orders__card {
  padding: 28px;
  border: 2px solid #0aef4a;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.orders__card-title {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
}
.orders__list {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.orders__list-title {
  flex: 0 0 344px;
  font-size: 30px;
  font-weight: 600;
}
.orders__items {
  list-style: none;
}

.orders__item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.orders__item:last-of-type {
  margin-bottom: 0;
}
.orders__svg {
  margin-right: 20px;
}
.orders__item-wrap span {
  display: block;
  font-size: 18px;
}
.orders__item-title {
  font-weight: 900;
}
.orders__item-desc {
  color: #474850;
}
.orders__btn {
  background-color: #1cb02b;
  color: #fff;
  width: 100%;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/*медиа*/
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .logo__img {
    width: 150px;
    height: 44px;
  }
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}
